@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');

/* Configurações para zera css */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit; }

html {
  font-size: 1rem;
  scroll-behavior: smooth; 
}
  


img {
  width: 100%;
}

/* Final da Configurações para zera css */

/* Configurações header (Cabeçalho) */
header {
  font-family: 'Nunito Sans';
  font-weight: 700;
  text-transform: uppercase;

    position: sticky;
    background: #ededed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

.contato-text {
    border-radius: 5px;
    background: #192C57;
    color: #CDD4E9 !important;
}

li {
  margin: 0 5px;
  list-style: none;
}

nav a:hover {
  border-radius: 5px;
  background: #192C57;
  color: #CDD4E9 !important;
  transition: 0.5s ease-in-out;
}

header h2 {
  background: #ffffff;
  color: #192c57;
  padding: .2rem 0 .2rem 2rem;
}

header h2 span {
  background: #192C57;
  color: #ffffff;
  padding: 0 1rem 0 1rem;
  margin: 0 0 0 .3rem;
}


.logoRP {
  width: 12rem;
}
/* Final Configurações header (Cabeçalho) */


/* Estilização do Conteúdo */
main {
  font-family: 'Nunito Sans' !important;
}

.mSobre {
  padding-top: 5rem !important;
}

main span {
  font-size: 1.5rem ;
  color: #192C57;
  font-weight: 600 !important;
  text-transform: uppercase;
}

p {
  font-size: 1.3rem;
}

body {
  background-image: url("../img/bg/composicao-geometrica.jpg");
  background-attachment: fixed;
  background-size: cover;
}

/* config aprsentação Dev Front */
  .textodevFrontEnd {
    background: #192C57;
    color: #CDD4E9;
    padding: 5px;
    border-radius: 5px;

    font-size: 1.5rem;
    box-shadow: #203973 2.4px 2.4px 3.2px;
  }
  /* config aprsentação Dev Front */

  /* Bordar da foto */
    .border-foto-pessoal {
      border: .5rem solid #7A8DBC ;
      border-radius: 1rem;
      padding: 1rem;
    }

    .border-foto-pessoal img {
      margin-top: -5rem;
      margin-left: -2rem;
      margin-bottom: 1rem;
    }
  /* Bordar da foto */

  /* Config Botão Github */
.botaoPrimario {
  background: #192C57 !important;
  color: #CDD4E9 !important;
}
  .botaoPrimario:hover {
    background: #203973 !important;
  }
/* Config Botão Github */

  /* Config Botão Download */
.botaoSegundario {
  background: #B2D3A8 !important;
  color: #192C57 !important;
}
  .botaoSegundario:hover {
    background: #8FAA87 !important;
    color: #192c57 !important;
  }
/* Config Botão Download */

/* Hard Skill */
.iconsSkill img {
  width: calc(20% - .1rem);
}

.textSoftSkill a {
  color: #192C57;
  line-height: 3.8rem;
}

.textSoftSkill a:hover {
  color: #ffffff;
  line-height: 3.8rem;
  background: #192C57;
  padding: .6rem;
  border-radius: 5px;
  /* transition: 0.3s ease-in; */
  cursor: pointer;
}
 

/* Hero Footer */
.bg-Hero {
  background: #131E3A;
}

footer {
  background: #0C111E;
}

@media (max-width: 600px)  {
  h1 {
    font-size: 2rem !important;
  }

  p {
    font-size: 1rem;
  }

  .mSobre {
    margin: 2rem 0 0 0;
  }
}