/* Importação de fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/* Zera as configurações padrão do CSS para todos os elementos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização para a classe rsLateral */
.rsLateral {
    background: #fff;
    border-radius: 0 10px 10px 0;

    /* Sombra para efeito tridimensional */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* Estilização para a classe box */
.box{
    width: 4rem;
    height: 4rem;
    padding: 5px;
    margin: 0.6rem;
    cursor: pointer;
}

/* Estilização para a classe icon dentro de .box */
.box .icon{
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    transition: all .4s ease;
}

/* Cores de fundo para diferentes ícones */
.instagram{
    background-color: #c32aa3;
}
.whatsapp{
    background-color: #25d366;
}
.facebook{
    background-color: #1877f2;
}
.linkedin{
    background-color: #1da1f2;
}
.github{
    background-color: #ffffff;
}

/* Efeito de hover para .box .icon */
.box:hover .icon{
    background: #fff;
    color: #3b3b3b;
    /* Sombra ao passar o mouse */
    box-shadow: 0 0 20px rgba(0,0,0,0.26);
}

/* Mídia Query para telas de até 1024px */
@media (max-width: 1024px) {
    .rsLateral {
      display: none;
    }
}
