.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    
    background-color: #2E81B3;
}

.menu a {
    list-style: none;
    width: 100%;
    line-height: 5rem;
    text-align: center;
}

.menu a:hover {
    background: #186999;
}

.menu a {
    color: #DEFFF7;
    text-decoration: none;
    text-transform: uppercase;
}