@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

.textoNome {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boxTexto {
    width: 85%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

    aside h1 {
        text-transform: uppercase;
        font-size: 48px;
        font-weight: 400;
    }
    aside h2 {
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 800;
    }
    aside h4 {
        padding: 0.1rem 0 0.1rem 1rem;
        background-color: #186999;
        color:#DEFFF7 ;
        font-style: italic;
        font-size: 24px ;
        font-weight: 200;
    }

    .CTA {
        width: 190px;
        height: 50px;
        border-radius: 5px;
        background-color: #186999;
        box-shadow: -2px 3px 5px #186999;
    }

    .CTA:hover {
        background-color: #2E81B3;
        box-shadow: -3px 3px 5px 2px #186999;
    }

    .textoSobre {
        font-size: 19px;
        margin: 2rem 0;
    }



.textoImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

img {
    margin-top: 8%;
    width: 100%;
}