.fotoPerfil {
    display: flex;
    justify-content: center;
    margin: auto;
    background: #DEFFF7;
}

.fotoPerfil img {
    width: 100%;
}

.colorMenu{
    margin: auto;
}

.centralizarTexto {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.centralizarTexto p {
    margin: auto;
    padding: 8px;
    line-height: 30px;
}