.fotoPerfil {
    display: flex;
    justify-content: center;
    margin: auto;
    background: #DEFFF7;
}

.fotoPerfil img {
    width: 100%;
}

.colorMenu{
    margin: auto;
}

.centralizarTexto {
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    margin: 8px;
}

.centralizarTexto section h1 {
    text-align: center;
    font-size: 48px;
    border: 2px dashed #186999;
    padding: 2rem;
    margin: 8px;
    text-transform: uppercase;
}

section p {
    margin: auto;
    padding: 8px;
    line-height: 30px;
}